* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}

:root {
    --black: black;
    --white: white;
    --accent: #0080ff;
}

body {
    max-width: 100%;
    width: 100%;
    margin: auto;
    color: var(--black);
    background-color: var(--white);
    overflow-x: hidden;
}


.logo-container {
    display: flex;
    padding: 13px;
    margin: auto;
    border-radius: 15px;
    background-color: var(--white);
    align-items: center;
    text-align: center;
}

.logo {
    margin: 13px;
    text-align: center;
    width: 120px;
    height: 120px;
}

.nav-link {
    margin: auto;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    transform: scale(1.05);
}

.pulseAnimation {
    opacity: 1;
    animation-name: pulseAni;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transition: 0.2s;
}

@keyframes pulseAni {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

a:link,
a:visited {
    color: var(--white);
}

.selected {
    color: var(--accent);
}

.special-background {
    background-color: var(--white);
    color: var(--black);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#img-float {
    float: left;
}

.nav-options {
    margin: auto;
    align-items: center;
    vertical-align: middle;
}

.title {
    color: var(--black);
}

.header {
    margin: 10px;
    padding: 10px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

#img-info {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    max-width: 800px;
    height: auto;

    margin: auto;
    text-align: center;
}

.general_background {
    background-color: var(--black);
    padding: 15px;
    color: var(--white);
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.info_output {
    font-weight: bold;
    color: var(--accent);
}

#emmanuel-container {
    text-align: center;
    margin-top: 20px;
    color: var(--black);
}

#emmanuel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid var(--white);
    transition: 0.2s;

    object-fit: cover;
    object-position: center;
}

#emmanuel:hover {
    transform: scale(1.05);
}

#founder-name {
    margin-top: 10px;
}

#founder-text {
    color: var(--accent);
    margin-top: 5px;
    font-weight: bold;
}

.footer-icons-support {
    color: var(--black);
    margin: 10px;
    transition: 0.2s;
}

.footer-icons-support:hover {
    background-image: linear-gradient(45deg, yellow, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
}

.footer {
    text-align: center;
    background-color: var(--accent);
    color: var(--black);
    font-size: 14px;
    padding: 10px;
    width: 30%;
    border-radius: 20px;
    margin: auto;
    transition: 0.2s;
}

.footer:hover {
    font-size: 16px;
    color: var(--white);
    background-color: var(--black);
    transition: 0.2s;
}

.right {
    float: right;
}

.fadeIn {
    animation: fadeInAni;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes fadeInAni {
    from {
        opacity: 0;
        transform: translate(0, -15px);
    }

    to {
        opacity: 1;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .logo-container {
        width: auto;
        align-items: center;
        text-align: center;
    }

    #self_info {
        width: 70%;
        margin: auto;
        border-radius: 10px;
    }
}