/* Reset some default styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Set default font styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f0f0f0;
}

/* Header styles */
#header {
  background-color: #0080ff;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  flex: 1;
}

.logo {
  max-width: 150px; /* Adjust the max-width as needed */
  height: auto;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff9900;
}

/* Hero section styles */
.hero {
  text-align: center;
  margin-top: 20px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}

/* Input section styles */
.input-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.input-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calculate-button {
  background-color: #0080ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.calculate-button:hover {
  background-color: #ff9900;
}

/* Main content styles */
.main-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

#cao-link {
  color: #0080ff;
}

/* Additional styles for your sections, headings, and paragraphs can be added here */