* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  text-decoration: none;
}

:root {
  --main-text-color: white;
  --primary: #0080ff;
  --bg-color: black;
  --secondary: #001952;
  --accent: #fdcb6e;
}

/* https://uigradients.com/#CanYouFeelTheLoveTonight */
.gradient {
  background: #4568DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B06AB3, #4568DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  min-width: 330px;
  width: 100%;
  margin: auto;
  color: var(--main-text-color);
  background-color: var(--bg-color);
  align-items: center;
}

.header {
  margin: 10px;
  padding: 10px;
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
}

.logo-container {
  flex: 1;
  width: 50vw;
}

.logo {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 250px;
  height: auto;
  margin: auto;
}

.nav {
  flex: 1;
  text-align: center;
  width: 100%;
}

.nav-list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  color: var(--main-text-color);
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--primary);
}

.selected {
  color: var(--accent);
  transition: 0.2s;
}

.welcome {
  background-color: var(--primary);
  text-align: center;
  padding: 15px;
  color: var(--main-text-color);
}

.welcome-content {
  max-width: 800px;
  margin: 0 auto;
}

.welcome h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.welcome p {
  font-size: 18px;
}

.calculator {
  background-color: var(--secondary);
  padding: 40px 0;
  text-align: center;
}

.calculator-content {
  max-width: 800px;
  margin: auto;
  color: var(--main-text-color);
}

.calculator h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--primary);
}

input[type="number"],
select {
  width: 90%;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid var(--main-text-color);
  background-color: var(--primary);
  color: var(--main-text-color);
  font-size: 16px;
  margin-top: 5px;
  transition: border, color 0.3s;
}

input[type="number"]:focus,
select:focus {
  border-color: var(--accent);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


::placeholder {
  color: var(--main-text-color);
}

/* for mobile users */
@media screen and (max-width: 500px) {

  input[type="number"],
  select {
    text-align: center;
  }
}

.results {
  text-align: center;
  padding: 10px;
  color: var(--primary);
  font-weight: bold;
  background-color: #2d3436;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.results-content {
  max-width: 800px;
  margin: 0 auto;
}

.results h2,
.results p {
  font-size: 18px;
  margin-bottom: 10px;
}

.motivation {
  margin: auto;
  text-align: center;
  padding: 20px 0;
}

.motivation-image {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.info {
  background-color: var(--secondary);
  padding: 15px;
  color: var(--main-text-color);
}

.info-content {
  text-align: center;
  margin: auto;
}

.info p {
  font-size: 16px;
  margin-bottom: 10px;
}

#cao-link {
  color: var(--accent);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

#cao-link:hover {
  color: var(--primary);
}

.footer {
  text-align: center;
  background-color: var(--primary);
  font-size: 14px;
  padding: 10px;
}

#adding_25_text {
  color: var(--accent);
}

.info_output {
  font-weight: bold;
  color: var(--accent);
}

.ideal {
  color: grey;
}

.important-red {
  color: red;
}