* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
}

:root {
  --main-text-color: black;
  --primary: #0080ff;
  --bg-color: black;
  --secondary: #001952;
  --accent: orange;
}


body {
  align-items: center;
  min-width: 330px;
  width: 100%;
  color: var(--main-text-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
}

.header {
  margin: 10px;
  padding: 10px;
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
}

.logo-container {
  display: flex;
  padding: 13px;
  margin: auto;
  border-radius: 15px;
  background-color: white;
  align-items: center;
  text-align: center;
}

.logo {
  margin: auto;
  text-align: center;
  width: 250px;
}

.nav-link {
  margin: auto;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.pulseAnimation {
  opacity: 0.85;

  animation-name: navOptions;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition: 0.2s;
}

@keyframes navOptions {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

a:visited {
  color: white;
}

.selected {
  color: var(--accent);
  transition: 0.2s;
}

.special-background {
  opacity: 0.85;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
}

.special-background:hover {
  opacity: 1;
}

#img-float {
  float: left;
}

#nav-options {
  align-items: center;
  vertical-align: middle;
  float: right;
}

.welcome {
  background-color: var(--primary);
  text-align: center;
  padding: 15px;
  color: var(--main-text-color);
}

.welcome-content {
  max-width: 800px;
  margin: auto;
}

.welcome h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.welcome p {
  font-size: 18px;
}

.calculator {
  padding: 40px 0;
  text-align: center;
}

.calculator-content {
  max-width: 800px;
  margin: auto;
  color: var(--main-text-color);
}

.calculator h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--primary);
}

input[type="number"],
select {
  width: 90%;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid var(--main-text-color);
  background-color: var(--primary);
  color: var(--main-text-color);
  font-size: 16px;
  margin-top: 5px;
  transition: border, color 0.3s;
}

input[type="number"]:focus,
select:focus {
  border-color: var(--accent);
}

/* removes the up and down arrows from the numebr input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


::placeholder {
  opacity: 0.8;
  color: var(--main-text-color);
}

/* Mobile  */
@media screen and (max-width: 500px) {

  input[type="number"],
  select {
    text-align: center;
  }

  .calculator {
    background-color: white;
    color: black;
  }
}

.results {
  text-align: center;
  padding: 10px;
  color: var(--primary);
  font-weight: bold;
  background-color: #2d3436;
  border: 5px solid var(--primary);
  border-radius: 20px;
  width: 85%;
  margin: auto;
}

.results-content {
  max-width: 800px;
  margin: auto;
}

.results h2,
.results p {
  font-size: 18px;
  margin-bottom: 10px;
}

.motivation {
  margin: auto;
  width: 100%;
}

.motivation-image {
  width: 100%;
}

.info {
  background-color: var(--primary);
  padding: 15px;
  color: var(--main-text-color);
}

.info-content {
  text-align: center;
  margin: auto;
  color: white;
}

.info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  background-color: black;
  font-size: 14px;
  padding: 10px;
}

#adding_25_text {
  color: var(--accent);
}

.info_output {
  font-weight: bold;
  color: var(--accent);
}

.grey {
  color: grey;
}

.important-red {
  color: red;
}

.white {
  color: white;
}

.black {
  color: black;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .motivation {
    width: 50%;
    border-radius: 20px;
  }

  .calculator {
    background-color: var(--secondary);
    color: white;
  }
}