* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
}

:root {
  --black: black;
  --white: white;
  --accent: #0080ff;
}

html {
  scroll-behavior: smooth;
}


body {
  align-items: center;
  min-width: 330px;
  width: 100%;
  color: var(--black);
  background-color: var(--white);
  overflow-x: hidden;
}

.header {
  margin: 10px;
  padding: 10px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

.logo-container {
  display: flex;
  padding: 13px;
  margin: auto;
  border-radius: 15px;
  background-color: var(--white);
  align-items: center;
  text-align: center;
}

.logo {
  margin: 13px;
  text-align: center;
  width: 120px;
  height: 120px;
}

.nav-link {
  margin: auto;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  transform: scale(1.05);
}

.pulseAnimation {
  opacity: 1;
  animation-name: pulseAni;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
  transition: 0.2s;
}

@keyframes pulseAni {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

a:link,
a:visited {
  color: var(--white);
}

.selected {
  color: var(--accent);
}

.special-background {
  background-color: var(--white);
  color: black;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

#img-float {
  transition: 0.3s;
  float: left;
}

#img-float:hover {
  transform: scale(1.05);
}

.nav-options {
  margin: auto;
  align-items: center;
  vertical-align: middle;
}

.flexBox_DropDown {
  display: flex;
  gap: 50px;
  align-items: center;
}

.welcome {
  background-color: var(--black);
  text-align: center;
  padding: 15px;
  color: var(--white);
}

.welcome-content {
  max-width: 800px;
  margin: auto;
}

.welcome h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.welcome p {
  font-size: 18px;
}

.calculator {
  padding: 40px 0;
  text-align: center;
}

.calculator-content {
  max-width: 800px;
  margin: auto;
  color: var(--white);
}

.calculator h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--black);
}

input[type="number"],
select {
  width: 90%;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid var(--white);
  border-top-left-radius: 20px;
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
  margin-top: 5px;
  transition: border, color 0.3s;
  transition: 0.3s;
}

input[type="number"]:hover,
select:hover {
  border-bottom-left-radius: 20px;

}

input[type="number"]:focus,
select:focus {
  border-bottom-left-radius: 20px;
  border-color: var(--accent);
}

/* removes the up and down arrows from the numebr input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


::placeholder {
  opacity: 0.8;
  color: var(--white);
}

/* Mobile  */
@media screen and (max-width: 500px) {

  input[type="number"],
  select {
    text-align: center;
  }

  #img-info {
    border-top: 5px solid var(--black);
    border-bottom: 5px solid var(--black);
  }
}

span {
  color: var(--black);
}

.results {
  text-align: center;
  padding: 10px;
  color: var(--black);
  font-weight: bold;
  background-color: var(--wihte);
  border-radius: 20px;
  width: 85%;
  margin: auto;
  border: 5px solid var(--accent);
  background: linear-gradient(45deg, grey, white, white, grey);
}

.results-content {
  max-width: 800px;
  margin: auto;
}

.results h2,
.results p {
  font-size: 18px;
  margin-bottom: 10px;
}

.motivation {
  margin: auto;
  width: 100%;
}

.motivation-image {
  width: 100%;
}

.info {
  background-color: var(--black);
  padding: 15px;
  color: var(--white);
  border-radius: 20px;
  width: 90%;
  text-align: center;
  margin: auto;
}

.info-content {
  text-align: center;
  margin: auto;
  color: var(--white);
}

.info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  background-color: var(--accent);
  color: var(--black);
  font-size: 14px;
  padding: 10px;
  width: 30%;
  border-radius: 20px;
  margin: auto;
  transition: 0.2s;
}

.footer:hover {
  font-size: 16px;
  color: var(--white);
  background-color: var(--black);
  transition: 0.2s;
}

#adding_25_text {
  color: var(--black);
}

.info_output {
  font-weight: bold;
  color: var(--black);
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.white {
  color: var(--white);
}

.black {
  color: var(--white);
}

.accent {
  color: var(--accent);
}

.show {
  display: block;
}

.hide {
  display: none;
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fadeIn {
  animation: fadeInAni;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes fadeInAni {
  from {
    opacity: 0;
    transform: translate(0, -15px);
    transform: scale(1.05);
  }

  to {
    opacity: 1;
  }
}

#gojodev {
  transition: 0.2s;
}

#gojodev:hover {
  transform: scale(1.05);
}


#fixed-gojodev {
  width: 85px;
  margin: 5px;
  opacity: 1;
  display: block;
  transition: 0.2s;
  top: 0;
  z-index: 1;
  margin: auto;

  object-fit: cover;
  object-position: center;
}

#fixed-gojodev:hover {
  transform: scale(1.05);
}

.footer {
  text-align: center;
  background-color: var(--black);

  color: var(--black);
  font-size: 14px;
  padding: 10px;
  width: 30%;
  border-radius: 20px;
  margin: auto;
  transition: 0.2s;
}

.footer:hover {
  font-size: 16px;
  color: var(--white);
  background-color: var(--accent);
  transition: 0.2s;
}

#invalid_input {
  align-items: center;
  display: flex;
  background-color: var(--white);
  border-radius: 20px;
  padding: 10px;
}

#getOnGoogle {
  display: flex;
  justify-content: center;
  transition: 0.2s;
}

#getOnGoogle:hover {
  transform: scale(1.02);
}

.box-shadow {
  box-shadow: 10px 10px 5px #aaaaaa;
}

/* Desktop */
@media only screen and (min-width: 550px) {
  .motivation {
    width: 50%;
    border-radius: 20px;
  }

  #img-info {
    border: 5px solid var(--black);
    padding: 5px;
    border-radius: 20px;
  }
}