:root {
	--white: white;
	--black: black;
}

* {
	font-size: 1.35rem;
	text-align: center;
}

body {
	background-image: linear-gradient(#1a75ff, cyan);
	font-family: "Courier new";
	width: auto;
	justify-content: center;
	zoom: 90%;
}

html {
	scroll-behavior: smooth;
	position: relative;
}

.general_background {
	color: var(--black);
	margin: auto;
	background-color: var(--white);
	padding: 10px;

	border: 5px solid var(--black);
	font-weight: bold;
	border-radius: 20px;
	transition: 0.2s;
	font-size: 1.4rem;
}

.general_background:hover {
	color: var(--white);
	background-color: var(--black);
	border: 5px solid var(--white);
}

.box-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.important-red {
	color: red;
}

.points_and_subs_input_style {

	background-color: var(--white);
	padding: 1rem;
	font-family: "Courier new";
	margin: auto;
	color: #0066ff;
	font-weight: bold;
	border: var(--black) solid 7px;
	transition: border, 0.2s;
	border-radius: 20px;
}

.points_and_subs_input_style:hover {
	color: var(--white);
	background-color: var(--black);
	border: var(--white) solid 7px;
}

.buttons-style {
	color: var(--black);
	background-color: var(--white);
	padding: 15px;
	width: auto;
	height: 100%;
	margin: auto;
	border: solid 10px var(--black);
	font-family: "Courier new";

	font-weight: bold;
	border-radius: 20px;
	transition: 0.2s;
}

.buttons-style:hover {
	color: var(--white);
	background-color: var(--black);
	border-radius: 20px;
	border: solid 10px var(--white);
}

.buttons-style:active {
	border: solid 10px red;
}

div,
table,
th {
	margin: auto;

}

.bottom-images {
	transition: 0.2s;
}


.info_output,
.colon,
#adding_25_container {

	color: #0080ff;
}

.ideal {
	color: grey;
}

footer {
	background-image: linear-gradient(white, cyan);
	border-radius: 20px;
	justify-content: center;
	vertical-align: baseline;
}

#footer-text {
	color: black;
	transition: 0.2s;
}

#footer-text:hover {
	color: red;
}

#cao-link {
	color: #0080ff;
	text-decoration: none;
	transition: 0.2s;
}

#cao-link:hover {
	color: blue;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

#pts_sys_img {
	border-radius: 20px;
	border: 5px solid black;
	transition: 0.2s;
}

#pts_sys_img:hover {
	border: 5px solid red;
}

#bool_inputs {
	width: 60%;
	display: flex;
	justify-content: center;
	vertical-align: middle;
}

#loader_container {
	display: flex;
	justify-content: center;
}

.loader {
	animation: rotate 1s infinite;
	height: 50px;
	width: 50px;
}

.loader:before,
.loader:after {
	border-radius: 50%;
	content: "";
	display: block;
	height: 20px;
	width: 20px;
}

.loader:before {
	animation: ball1 1s infinite;
	background-color: cyan;
	box-shadow: 30px 0 0 blue;
	margin-bottom: 10px;
}

.loader:after {
	animation: ball2 1s infinite;
	background-color: blue;
	box-shadow: 30px 0 0 cyan;
}

#drop1-content1,
#drop1-content2,
#drop2-content {
	display: none;
}

/* for desktop users */
@media screen and (min-width: 500px) {
	.points_and_subs_input_style {
		font-size: 1.5rem;
		width: 40vw;
	}

	#pts_sys_img {
		width: 70%;
	}

	.bottom-images {
		width: 150px;
	}

	.bottom-images:hover {
		width: 160px;
	}

}

/* for mobile users */
@media screen and (max-width: 500px) {
	.points_and_subs_input_style {
		font-size: 1.4rem;
		width: 85vw;
	}

	#general_background {
		font-size: 1.7rem;
	}

	#pts_sys_img {
		width: 95%;
	}

	.bottom-images {
		width: 100px;
	}

	.bottom-images:hover {
		width: 110px;
	}

	footer {
		zoom: 115%;
	}

	#bool_inputs {
		width: 100%;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg) scale(0.8)
	}

	50% {
		transform: rotate(360deg) scale(1.2)
	}

	100% {
		transform: rotate(720deg) scale(0.8)
	}
}

@keyframes ball1 {
	0% {
		box-shadow: 30px 0 0 blue;
	}

	50% {
		box-shadow: 0 0 0 blue;
		margin-bottom: 0;
		transform: translate(15px, 15px);
	}

	100% {
		box-shadow: 30px 0 0 blue;
		margin-bottom: 10px;
	}
}

@keyframes ball2 {
	0% {
		box-shadow: 30px 0 0 cyan;
	}

	50% {
		box-shadow: 0 0 0 cyan;
		margin-top: -20px;
		transform: translate(15px, 15px);
	}

	100% {
		box-shadow: 30px 0 0 cyan;
		margin-top: 0;
	}
}